<nav class="main-navigation">
  <div class="nav-menu">
    <p class="nav-menu__title">Навигация</p>
    <p><a href="{{site.baseurl}}/">Главная</a></p>
    <a href="{{site.baseurl}}/frontend/">Front</a>
    <ul class="menu-list">
      <li class="list-item"><a href="{{site.baseurl}}/frontend/junior-1/">Jun-1</a></li>
      <li class="list-item"><a href="{{site.baseurl}}/frontend/junior-2/">Jun-2</a></li>
      <li class="list-item"><a href="{{site.baseurl}}/frontend/junior-3/">Jun-3</a></li>

      <li class="list-item"><a href="{{site.baseurl}}/frontend/middle-1/">Middle-1</a></li>
      <li class="list-item"><a href="{{site.baseurl}}/frontend/middle-2/">Middle-2</a></li>
      <li class="list-item"><a href="{{site.baseurl}}/frontend/middle-3/">Middle-3</a></li>
      <li class="list-item"><a href="{{site.baseurl}}/frontend/middle-4/">Middle-4</a></li>

      <li class="list-item"><a href="{{site.baseurl}}/frontend/senior/">Senior</a></li>

    </ul>
    <a href="{{site.baseurl}}/backend/">Backend</a>
  </div>
</nav>