.main-content .highlight .hll { background-color: #333333 }

.main-content .highlight  { background: #111111; color: #ffffff }

.main-content .highlight .c { color: #008800; font-style: italic; background-color: #0f140f } /* Comment */

.main-content .highlight .err { color: #ffffff } /* Error */

.main-content .highlight .esc { color: #ffffff } /* Escape */

.main-content .highlight .g { color: #ffffff } /* Generic */

.main-content .highlight .k { color: #fb660a; font-weight: bold } /* Keyword */

.main-content .highlight .l { color: #ffffff } /* Literal */

.main-content .highlight .n { color: #ffffff } /* Name */

.main-content .highlight .o { color: #ffffff } /* Operator */

.main-content .highlight .x { color: #ffffff } /* Other */

.main-content .highlight .p { color: #ffffff } /* Punctuation */

.main-content .highlight .ch { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Hashbang */

.main-content .highlight .cm { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Multiline */

.main-content .highlight .cp { color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f } /* Comment.Preproc */

.main-content .highlight .cpf { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.PreprocFile */

.main-content .highlight .c1 { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Single */

.main-content .highlight .cs { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Special */

.main-content .highlight .gd { color: #ffffff } /* Generic.Deleted */

.main-content .highlight .ge { color: #ffffff } /* Generic.Emph */

.main-content .highlight .gr { color: #ffffff } /* Generic.Error */

.main-content .highlight .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */

.main-content .highlight .gi { color: #ffffff } /* Generic.Inserted */

.main-content .highlight .go { color: #444444; background-color: #222222 } /* Generic.Output */

.main-content .highlight .gp { color: #ffffff } /* Generic.Prompt */

.main-content .highlight .gs { color: #ffffff } /* Generic.Strong */

.main-content .highlight .gu { color: #ffffff; font-weight: bold } /* Generic.Subheading */

.main-content .highlight .gt { color: #ffffff } /* Generic.Traceback */

.main-content .highlight .kc { color: #fb660a; font-weight: bold } /* Keyword.Constant */

.main-content .highlight .kd { color: #fb660a; font-weight: bold } /* Keyword.Declaration */

.main-content .highlight .kn { color: #fb660a; font-weight: bold } /* Keyword.Namespace */

.main-content .highlight .kp { color: #fb660a } /* Keyword.Pseudo */

.main-content .highlight .kr { color: #fb660a; font-weight: bold } /* Keyword.Reserved */

.main-content .highlight .kt { color: #cdcaa9; font-weight: bold } /* Keyword.Type */

.main-content .highlight .ld { color: #ffffff } /* Literal.Date */

.main-content .highlight .m { color: #0086f7; font-weight: bold } /* Literal.Number */

.main-content .highlight .s { color: #0086d2 } /* Literal.String */

.main-content .highlight .na { color: #ff0086; font-weight: bold } /* Name.Attribute */

.main-content .highlight .nb { color: #ffffff } /* Name.Builtin */

.main-content .highlight .nc { color: #ffffff } /* Name.Class */

.main-content .highlight .no { color: #0086d2 } /* Name.Constant */

.main-content .highlight .nd { color: #ffffff } /* Name.Decorator */

.main-content .highlight .ni { color: #ffffff } /* Name.Entity */

.main-content .highlight .ne { color: #ffffff } /* Name.Exception */

.main-content .highlight .nf { color: #ff0086; font-weight: bold } /* Name.Function */

.main-content .highlight .nl { color: #ffffff } /* Name.Label */

.main-content .highlight .nn { color: #ffffff } /* Name.Namespace */

.main-content .highlight .nx { color: #ffffff } /* Name.Other */

.main-content .highlight .py { color: #ffffff } /* Name.Property */

.main-content .highlight .nt { color: #fb660a; font-weight: bold } /* Name.Tag */

.main-content .highlight .nv { color: #fb660a } /* Name.Variable */

.main-content .highlight .ow { color: #ffffff } /* Operator.Word */

.main-content .highlight .w { color: #888888 } /* Text.Whitespace */

.main-content .highlight .mb { color: #0086f7; font-weight: bold } /* Literal.Number.Bin */

.main-content .highlight .mf { color: #0086f7; font-weight: bold } /* Literal.Number.Float */

.main-content .highlight .mh { color: #0086f7; font-weight: bold } /* Literal.Number.Hex */

.main-content .highlight .mi { color: #0086f7; font-weight: bold } /* Literal.Number.Integer */

.main-content .highlight .mo { color: #0086f7; font-weight: bold } /* Literal.Number.Oct */

.main-content .highlight .sa { color: #0086d2 } /* Literal.String.Affix */

.main-content .highlight .sb { color: #0086d2 } /* Literal.String.Backtick */

.main-content .highlight .sc { color: #0086d2 } /* Literal.String.Char */

.main-content .highlight .dl { color: #0086d2 } /* Literal.String.Delimiter */

.main-content .highlight .sd { color: #0086d2 } /* Literal.String.Doc */

.main-content .highlight .s2 { color: #0086d2 } /* Literal.String.Double */

.main-content .highlight .se { color: #0086d2 } /* Literal.String.Escape */

.main-content .highlight .sh { color: #0086d2 } /* Literal.String.Heredoc */

.main-content .highlight .si { color: #0086d2 } /* Literal.String.Interpol */

.main-content .highlight .sx { color: #0086d2 } /* Literal.String.Other */

.main-content .highlight .sr { color: #0086d2 } /* Literal.String.Regex */

.main-content .highlight .s1 { color: #0086d2 } /* Literal.String.Single */

.main-content .highlight .ss { color: #0086d2 } /* Literal.String.Symbol */

.main-content .highlight .bp { color: #ffffff } /* Name.Builtin.Pseudo */

.main-content .highlight .fm { color: #ff0086; font-weight: bold } /* Name.Function.Magic */

.main-content .highlight .vc { color: #fb660a } /* Name.Variable.Class */

.main-content .highlight .vg { color: #fb660a } /* Name.Variable.Global */

.main-content .highlight .vi { color: #fb660a } /* Name.Variable.Instance */

.main-content .highlight .vm { color: #fb660a } /* Name.Variable.Magic */

.main-content .highlight .il { color: #0086f7; font-weight: bold } /* Literal.Number.Integer.Long */