---
---

@import "{{ site.theme }}";

.main-navigation {
  max-width: 15rem;
}

.content-wrapper {
  display: flex;
}

.nav-menu {
  position: sticky;
  top: 5%;
}

.menu-list {
  padding-left: 1rem;
}

.list-item {
  list-style-type: none;
}