---
---

@import "{{ site.theme }}";
@import "vim.css";

li {
  margin: .5rem 0;
}

.main-content {
  margin: 0;
  width: 100%;
}

.main-navigation {
  max-width: 15rem;
}

.content-wrapper {
  display: flex;
  padding: 20px;
}

.nav-menu {
  width: 200px;
  margin: 1rem;
  padding: 1rem;
  position: sticky;
  top: 5%;
  background-color: rgba(246,246,246,0.7);
}

.list-item {
  list-style-type: none;
  margin: 1rem 0;
}

@media screen and (min-width: 64em) {
  .page-header {
    padding: 1rem 0;
  }

}