.main-content .highlight .hll { background-color: #222222 }
.main-content .highlight  { background: #000000; color: #cccccc }
.main-content .highlight .c { color: #000080 } /* Comment */
.main-content .highlight .err { color: #cccccc; border: 1px solid #FF0000 } /* Error */
.main-content .highlight .esc { color: #cccccc } /* Escape */
.main-content .highlight .g { color: #cccccc } /* Generic */
.main-content .highlight .k { color: #cdcd00 } /* Keyword */
.main-content .highlight .l { color: #cccccc } /* Literal */
.main-content .highlight .n { color: #cccccc } /* Name */
.main-content .highlight .o { color: #3399cc } /* Operator */
.main-content .highlight .x { color: #cccccc } /* Other */
.main-content .highlight .p { color: #cccccc } /* Punctuation */
.main-content .highlight .ch { color: #000080 } /* Comment.Hashbang */
.main-content .highlight .cm { color: #000080 } /* Comment.Multiline */
.main-content .highlight .cp { color: #000080 } /* Comment.Preproc */
.main-content .highlight .cpf { color: #000080 } /* Comment.PreprocFile */
.main-content .highlight .c1 { color: #000080 } /* Comment.Single */
.main-content .highlight .cs { color: #cd0000; font-weight: bold } /* Comment.Special */
.main-content .highlight .gd { color: #cd0000 } /* Generic.Deleted */
.main-content .highlight .ge { color: #cccccc; font-style: italic } /* Generic.Emph */
.main-content .highlight .gr { color: #FF0000 } /* Generic.Error */
.main-content .highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.main-content .highlight .gi { color: #00cd00 } /* Generic.Inserted */
.main-content .highlight .go { color: #888888 } /* Generic.Output */
.main-content .highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.main-content .highlight .gs { color: #cccccc; font-weight: bold } /* Generic.Strong */
.main-content .highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.main-content .highlight .gt { color: #0044DD } /* Generic.Traceback */
.main-content .highlight .kc { color: #cdcd00 } /* Keyword.Constant */
.main-content .highlight .kd { color: #00cd00 } /* Keyword.Declaration */
.main-content .highlight .kn { color: #cd00cd } /* Keyword.Namespace */
.main-content .highlight .kp { color: #cdcd00 } /* Keyword.Pseudo */
.main-content .highlight .kr { color: #cdcd00 } /* Keyword.Reserved */
.main-content .highlight .kt { color: #00cd00 } /* Keyword.Type */
.main-content .highlight .ld { color: #cccccc } /* Literal.Date */
.main-content .highlight .m { color: #cd00cd } /* Literal.Number */
.main-content .highlight .s { color: #cd0000 } /* Literal.String */
.main-content .highlight .na { color: #cccccc } /* Name.Attribute */
.main-content .highlight .nb { color: #cd00cd } /* Name.Builtin */
.main-content .highlight .nc { color: #00cdcd } /* Name.Class */
.main-content .highlight .no { color: #cccccc } /* Name.Constant */
.main-content .highlight .nd { color: #cccccc } /* Name.Decorator */
.main-content .highlight .ni { color: #cccccc } /* Name.Entity */
.main-content .highlight .ne { color: #666699; font-weight: bold } /* Name.Exception */
.main-content .highlight .nf { color: #cccccc } /* Name.Function */
.main-content .highlight .nl { color: #cccccc } /* Name.Label */
.main-content .highlight .nn { color: #cccccc } /* Name.Namespace */
.main-content .highlight .nx { color: #cccccc } /* Name.Other */
.main-content .highlight .py { color: #cccccc } /* Name.Property */
.main-content .highlight .nt { color: #cccccc } /* Name.Tag */
.main-content .highlight .nv { color: #00cdcd } /* Name.Variable */
.main-content .highlight .ow { color: #cdcd00 } /* Operator.Word */
.main-content .highlight .w { color: #cccccc } /* Text.Whitespace */
.main-content .highlight .mb { color: #cd00cd } /* Literal.Number.Bin */
.main-content .highlight .mf { color: #cd00cd } /* Literal.Number.Float */
.main-content .highlight .mh { color: #cd00cd } /* Literal.Number.Hex */
.main-content .highlight .mi { color: #cd00cd } /* Literal.Number.Integer */
.main-content .highlight .mo { color: #cd00cd } /* Literal.Number.Oct */
.main-content .highlight .sa { color: #cd0000 } /* Literal.String.Affix */
.main-content .highlight .sb { color: #cd0000 } /* Literal.String.Backtick */
.main-content .highlight .sc { color: #cd0000 } /* Literal.String.Char */
.main-content .highlight .dl { color: #cd0000 } /* Literal.String.Delimiter */
.main-content .highlight .sd { color: #cd0000 } /* Literal.String.Doc */
.main-content .highlight .s2 { color: #cd0000 } /* Literal.String.Double */
.main-content .highlight .se { color: #cd0000 } /* Literal.String.Escape */
.main-content .highlight .sh { color: #cd0000 } /* Literal.String.Heredoc */
.main-content .highlight .si { color: #cd0000 } /* Literal.String.Interpol */
.main-content .highlight .sx { color: #cd0000 } /* Literal.String.Other */
.main-content .highlight .sr { color: #cd0000 } /* Literal.String.Regex */
.main-content .highlight .s1 { color: #cd0000 } /* Literal.String.Single */
.main-content .highlight .ss { color: #cd0000 } /* Literal.String.Symbol */
.main-content .highlight .bp { color: #cd00cd } /* Name.Builtin.Pseudo */
.main-content .highlight .fm { color: #cccccc } /* Name.Function.Magic */
.main-content .highlight .vc { color: #00cdcd } /* Name.Variable.Class */
.main-content .highlight .vg { color: #00cdcd } /* Name.Variable.Global */
.main-content .highlight .vi { color: #00cdcd } /* Name.Variable.Instance */
.main-content .highlight .vm { color: #00cdcd } /* Name.Variable.Magic */
.main-content .highlight .il { color: #cd00cd } /* Literal.Number.Integer.Long */